{% load staticfiles %}
{% load mathfilters %}

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Eagle Financial</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading"><p style="color:#13EB0C;">Welcome!</p>
                <marquee behavior="scroll" direction="left">
                    <p style="color:#F7F716;">
                        Eagle Financial Services, your Midwest Financial Services Partner.
                </marquee>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <h2 style="padding-left: 15Px">Customer Portfolio</h2>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Overall Portfolio Performance</h2>
</div>
<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">

            <th>Portfolio Initial Investments</th>
            <th>Portfolio Current Investments</th>
            <th>Grand Total Results</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sum_purchase_price.purchase_price__sum}}</td>
                <td>{{sum_recent_value.recent_value__sum}}</td>
                <td>{{sum_recent_value.recent_value__sum | sub:sum_acquired_value.acquired_value__sum}}</td>


            </tr>
        </tbody>
    </table>
</div>



<div class="row">
    <h2 style="padding-left: 15Px">Stocks Information</h2>
</div>



<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Cust ID</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Initial Stock Value</th>
            <th>Purchase Date</th>
            <th>Current stock price</th>
            <th>Current stock value</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.purchase_price }}</td>
                <td>{{ stock.shares| mul:stock.purchase_price}}</td>
                <td>{{ stock.purchase_date }}</td>
                <td>{{ stock.current_stock_price }}</td>
                <td>{{ stock.shares| mul:stock.current_stock_price}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">

            <th>Total of Initial Stocks</th>
            <th>Total of Current Sotcks</th>
            <th>Results</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sum_purchase_price.purchase_price__sum}}</td>
                <td>{{sum_recent_value.recent_value__sum}}</td>
                <td>{{sum_recent_value.recent_value__sum | sub:sum_acquired_value.acquired_value__sum}}</td>


            </tr>
        </tbody>
    </table>
</div>


<div class="row">
    <h2 style="padding-left: 15Px">Investments Information</h2>
</div>

<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">

            <th>Cust ID</th>
            <th>Category</th>
            <th>Acquired_value</th>
            <th>Acquired_date</th>
            <th>Description</th>
            <th>Recent_value</th>

        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr>
                <td>{{ investment.customer }}</td>
                <td>{{ investment.category }}</td>
                <td>{{ investment.acquired_value }}</td>
                <td>{{ investment.acquired_date }}</td>
                <td>{{ investment.description }}</td>
                <td>{{ investment.recent_value }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">

            <th>Total of Initial Investments</th>
            <th>Total of Current Investments</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sum_acquired_value.acquired_value__sum}}</td>
                <td>{{sum_recent_value.recent_value__sum}}</td>
                <td>{{sum_recent_value.recent_value__sum | sub:sum_acquired_value.acquired_value__sum}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Mutualfunds Information</h2>
</div>

<div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer Number</th>
            <th>Customer Name</th>
            <th>Scheme</th>
            <th>Units</th>
            <th>Category</th>
            <th>Purchase Price</th>
            <th>Purchase Date</th>
            <th>Return Date</th>
            <th>Return Price</th>
        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr>
                <td>{{ mutualfund.customer }}</td>
                <td>{{ mutualfund.name }}</td>
                <td>{{ mutualfund.scheme }}</td>
                <td>{{ mutualfund.units }}</td>
                <td>{{ mutualfund.category }}</td>
	        <td>{{ mutualfund.purchase_price }}</td>
	        <td>{{ mutualfund.purchase_date }}</td>
                <td>{{ mutualfund.return_date }}</td>
                <td>{{ mutualfund.return_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


